eContract.DDP.Jobs/Service References/FerreroSaleData/SaleData.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SaleData" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.10.110:8097/SaleData.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.10.110:8097/SaleData.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.10.110:8097/SaleData.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISaleData_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="ISaleData_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="ISaleData_GetSKUData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSKUData" />
  </wsdl:message>
  <wsdl:message name="ISaleData_GetSKUData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSKUDataResponse" />
  </wsdl:message>
  <wsdl:message name="ISaleData_GetRegionData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRegionData" />
  </wsdl:message>
  <wsdl:message name="ISaleData_GetRegionData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRegionDataResponse" />
  </wsdl:message>
  <wsdl:message name="ISaleData_GetCityData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCityData" />
  </wsdl:message>
  <wsdl:message name="ISaleData_GetCityData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCityDataResponse" />
  </wsdl:message>
  <wsdl:message name="ISaleData_GetShipToData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShipToData" />
  </wsdl:message>
  <wsdl:message name="ISaleData_GetShipToData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShipToDataResponse" />
  </wsdl:message>
  <wsdl:message name="ISaleData_GetSoldToData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSoldToData" />
  </wsdl:message>
  <wsdl:message name="ISaleData_GetSoldToData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSoldToDataResponse" />
  </wsdl:message>
  <wsdl:message name="ISaleData_GetOrderTypeData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderTypeData" />
  </wsdl:message>
  <wsdl:message name="ISaleData_GetOrderTypeData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderTypeDataResponse" />
  </wsdl:message>
  <wsdl:message name="ISaleData_GetSKUPriceData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSKUPriceData" />
  </wsdl:message>
  <wsdl:message name="ISaleData_GetSKUPriceData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSKUPriceDataResponse" />
  </wsdl:message>
  <wsdl:message name="ISaleData_GetWarehouseData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWarehouseData" />
  </wsdl:message>
  <wsdl:message name="ISaleData_GetWarehouseData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWarehouseDataResponse" />
  </wsdl:message>
  <wsdl:message name="ISaleData_GetStateData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStateData" />
  </wsdl:message>
  <wsdl:message name="ISaleData_GetStateData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStateDataResponse" />
  </wsdl:message>
  <wsdl:portType name="ISaleData">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/ISaleData/DoWork" message="tns:ISaleData_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISaleData/DoWorkResponse" message="tns:ISaleData_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSKUData">
      <wsdl:input wsaw:Action="http://tempuri.org/ISaleData/GetSKUData" message="tns:ISaleData_GetSKUData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISaleData/GetSKUDataResponse" message="tns:ISaleData_GetSKUData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRegionData">
      <wsdl:input wsaw:Action="http://tempuri.org/ISaleData/GetRegionData" message="tns:ISaleData_GetRegionData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISaleData/GetRegionDataResponse" message="tns:ISaleData_GetRegionData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCityData">
      <wsdl:input wsaw:Action="http://tempuri.org/ISaleData/GetCityData" message="tns:ISaleData_GetCityData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISaleData/GetCityDataResponse" message="tns:ISaleData_GetCityData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShipToData">
      <wsdl:input wsaw:Action="http://tempuri.org/ISaleData/GetShipToData" message="tns:ISaleData_GetShipToData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISaleData/GetShipToDataResponse" message="tns:ISaleData_GetShipToData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSoldToData">
      <wsdl:input wsaw:Action="http://tempuri.org/ISaleData/GetSoldToData" message="tns:ISaleData_GetSoldToData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISaleData/GetSoldToDataResponse" message="tns:ISaleData_GetSoldToData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderTypeData">
      <wsdl:input wsaw:Action="http://tempuri.org/ISaleData/GetOrderTypeData" message="tns:ISaleData_GetOrderTypeData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISaleData/GetOrderTypeDataResponse" message="tns:ISaleData_GetOrderTypeData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSKUPriceData">
      <wsdl:input wsaw:Action="http://tempuri.org/ISaleData/GetSKUPriceData" message="tns:ISaleData_GetSKUPriceData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISaleData/GetSKUPriceDataResponse" message="tns:ISaleData_GetSKUPriceData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWarehouseData">
      <wsdl:input wsaw:Action="http://tempuri.org/ISaleData/GetWarehouseData" message="tns:ISaleData_GetWarehouseData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISaleData/GetWarehouseDataResponse" message="tns:ISaleData_GetWarehouseData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStateData">
      <wsdl:input wsaw:Action="http://tempuri.org/ISaleData/GetStateData" message="tns:ISaleData_GetStateData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISaleData/GetStateDataResponse" message="tns:ISaleData_GetStateData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISaleData" type="tns:ISaleData">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/ISaleData/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSKUData">
      <soap:operation soapAction="http://tempuri.org/ISaleData/GetSKUData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegionData">
      <soap:operation soapAction="http://tempuri.org/ISaleData/GetRegionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCityData">
      <soap:operation soapAction="http://tempuri.org/ISaleData/GetCityData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShipToData">
      <soap:operation soapAction="http://tempuri.org/ISaleData/GetShipToData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSoldToData">
      <soap:operation soapAction="http://tempuri.org/ISaleData/GetSoldToData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderTypeData">
      <soap:operation soapAction="http://tempuri.org/ISaleData/GetOrderTypeData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSKUPriceData">
      <soap:operation soapAction="http://tempuri.org/ISaleData/GetSKUPriceData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWarehouseData">
      <soap:operation soapAction="http://tempuri.org/ISaleData/GetWarehouseData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStateData">
      <soap:operation soapAction="http://tempuri.org/ISaleData/GetStateData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SaleData">
    <wsdl:port name="BasicHttpBinding_ISaleData" binding="tns:BasicHttpBinding_ISaleData">
      <soap:address location="http://192.168.10.110:8097/SaleData.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>